@tailwind base;
@tailwind components;
@tailwind utilities;

/* .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color:#323233;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    

}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
    color:#323233;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root:hover{
    color: #F14119;
} */